@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

button:hover, a:hover {
  cursor: pointer;
  opacity: 0.8;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

.bg-login {
  background-image: url("../assets/bg-login.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 528px;
  background: #181a1cd6;
  border-radius: 16px;
  padding: 40px;
  gap: 37px;
  display: flex;
  flex-direction: column;
}

.brand {
  gap: 10px;
  font-family: "Londrina Solid";
}

.brand h1 {
  font-size: 50px;
}

.title {
  text-align: center;
}

.login-form input {
  background: none;
  border: 1px solid #e7e3fc3b;
  padding: 14px 20px;
  height: 50px;
  border-radius: 25px;
  width: 100%;
  margin-top: 6px;
}
input::-ms-reveal {
  filter: invert(100%);
}

.login-form label {
  font-size: 18px;
}

.daftar-lupa-sandi {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.daftar-lupa-sandi p {
  color: #c1c2c4;
  text-decoration: none;
  font-weight: 400;
}

.daftar-lupa-sandi a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.btn-group-login {
  gap: 8px
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.btn-group-login button {
  border: 1px solid #e7e3fc3b;
  padding: 14px 20px;
  height: 50px;
  border-radius: 25px;
  width: 100%;
  color: white;
  border: 1px solid #e7e3fc3b;
  font-weight: 600;
  font-family: "Lato";
  font-size: 16px;
}

.btn-group-login p {
  text-align: center;
  font-size: 14px;
  color: #9D9EA1;
}

.btn-login {
  background: #3d4142;
}

.btn-google {
  background: none;
}

.btn-google img {
  width: 18px;
  vertical-align: middle;
}

.bg-signup {
  background-image: url("../assets/bg-signup.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .login-form {
    scale: 60%;
    margin: 0 -100px;
  }
}
